<hr/>
<footer style="margin-bottom: 10px; text-align: center;">
  by <a href="https://www.github.com/dyotamo" target="_blank">dyotamo</a> - <%= Time.now.year %> <%= link_to "About", about_path %>
</footer>
