<div class="jumbotron">
  <h1 style="text-align: center; font-family: Monospace;">Your development stack shared here</h1>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render "shared/search", value: '' %>
  </div>
</div>
<hr/>
<ul>
  <% @users.each do |user| %>
    <li><%= link_to user.name, stack_path(slug: user.slug) %></li>
  <% end %>
</ul>
<div style="text-align: center;">
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>
